<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="h.jpg" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <h1>Multiplicator: 2.3</h1>
    <h1>Original number is: <%=f9%></h1>
    <h1>Your number is: <%=f11%></h1>
    <h1>Your text is: <%=f10%></h1>
</body>
</html>